.project-details {
  background: rgba(0, 0, 0, 0.53);
  position: fixed;
  top: 0;
  height: 100vh;
  height: 40svh;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background: var(--dark-bg-color);
    margin: 0 1.7rem;
    padding: 1rem;
    position: relative;
    overflow-y: auto;
    height: fit-content;
    max-height: 89%;
    border-radius: 1rem;
    max-width: 30rem;

    & > svg {
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;

      &:hover {
        color: var(--primary-color);
      }
    }

    h3 {
      margin-top: 2rem;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.4rem;
    }

    .img {
      width: 100%;
      height: 15rem;
      margin: 0.7rem 0;
      border-radius: 1rem;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    p {
      font-size: 0.96rem;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
      margin: 1.3rem 0;

      p {
        background: var(--bg-color);
        padding: 0.6rem 1rem;
        border-radius: 10rem;
        color: var(--primary-color);
        text-transform: capitalize;
        font-weight: 600;
      }
    }

    h4 {
      margin-bottom: 0.5rem;
      margin-top: 1.6rem;
      font-size: 1.2rem;
    }

    ul {
      margin-left: 1rem;
      li {
        list-style-type: square;
      }
    }

    .github {
      display: block;
      font-size: 2.2rem;
      color: var(--primary-color);
      margin: 1.3rem 0;
      width: fit-content;
    }

    .btn {
      background: var(--primary-color);
      display: block;
      width: fit-content;
      padding: 0.7rem 1.3rem;
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--dark-bg-color);
      border-radius: 0.4rem;
      margin: 0.5rem auto 1rem auto;
    }
  }
}

@media screen and (max-width: 450px) {
  .project-details {
    .container {
      .img {
        height: 11rem;
      }
    }
  }
}
