@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  --text-color: #d3d5d8;
  --primary-color: #00a4e8;
  --bg-color: #091b2a;
  --dark-bg-color: hsl(207, 65%, 15%);
  --f2: "Black Ops One", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --f1: "Luckiest Guy", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  padding-top: 4rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--f1);
}
